.hero-parallax {
    height: 950vh; /* Full viewport height */
    width: 100%; /* Full width */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center; /* Center content */
    
    position: relative;
    z-index: 2; /* Ensure proper stacking */
  }
  
  /* .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  } */
  
  .hero-content {
    z-index: 4; 
    color: blanchedalmond;
    padding: 20px;
    height: 100%;
    width: 100%;
    max-width: 800px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .tagline {
    font-size: 45px;
    font-weight: bold;
    color: #ffef92;
    margin-bottom: 15px;
  }
  
  .headline h1{
    font-size: 80px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #FFC0CB;
  }
  
  .headline span {
    color: #f581fb;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 20px;
  }
  
  /* Ensure responsiveness */
  @media (max-width: 768px) {
    .tagline {
      font-size: 32px;
    }
  
    .headline {
      font-size: 50px;
    }
  }
  